{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class=" shadow-md rounded-lg p-6 mb-6 container mx-auto ">
    
    
    <a href="{% url 'index' %}" class="inline-flex items-center rounded bg-emerald-200 px-3 py-2  font-extrabold text-center">
        Back to Gallery</a>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class=" form-group mb-3">
            <label >Description</label>
            <input class="form-control" type="text" name="description" placeholder="Enter a description">
          </div>

          <div class=" form-group mb-3">
            <label >Select a category</label>
            <select class="form-control"  name="category"> 
                <option value="none">Select a Category...</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            <select>
          </div>

          <div class=" form-group mb-3">
            <label >Add New Category</label>
            <input class="form-control" type="text" name="new_category" placeholder="Add New Category...">
          </div>

        <div class=" form-group mb-3">
            <label >Upload image</label>
            <input class="form-control" type="file" multiple name="images" required>
          </div>
        <button class="py-2 px-4 max-w-md flex justify-center items-center text-emerald-400 bg-emerald-200 font-extrabold rounded " type="submit" >Add Photo</button>    
        
        
        
    </div>
        
        {% endblock %}