{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="bg-emerald-200 shadow-md rounded-lg p-6 mb-6">
<h1 class="text-center text-violet-600  font-lobster text-3xl" >Welcome to My Gallery!</h1>




<div class="grid grid-flow-col grid-rows-3 gap-4 ">
  <section class="container mx-auto scroll-smooth">
    <div class="text-center  my-20 "> 
      <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-10 card w-full bg-best  rounded-2xl shadow-lg p-5 text-center ring-1 ring-green-50"> 
        
        <img src="https://media.istockphoto.com/id/2165337331/photo/portrait-of-tabby-cat.jpg?s=1024x1024&w=is&k=20&c=2Z-6G-3InjCOGgi82NEHOZ_K21Cqjt0Ej2W5xeGYZBo=" class=" duration-700  hover:shadow-2xl  hover:scale-110  rounded-xl shadow-2xl w-full h-100 object-cover " />
        <img src="{% static 'images/p (1).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110   rounded-xl shadow-2xl w-full h-100 object-cover" />
        <img src="{% static 'images/p (2).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110  rounded-xl shadow-2xl w-full h-100 object-cover" />
        <img src="{% static 'images/p (3).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110   rounded-xl shadow-2xl w-full h-100 object-cover" />
        <img src="{% static 'images/p (6).jpg' %}" class=" duration-700  hover:shadow-2xl ring-1 ring-amber-50 hover:scale-110   rounded-xl shadow-2xl w-full h-100 object-fill object-center " />
        
      </div>
      
      
    </div>
  </section> 

</div>








  














    {% comment %} <section class="container card rounded-xl mx-auto scroll-smooth py-10 bg-best">
      
      <h1 class="text-center text-secondary font-mono font-bold text-4xl">About Us</h1>
      
      <div class= " mx-auto max-w-[1280px] grid grid-cols-1 md:grid-cols-[40%_auto] gap-20">
        
        <div class=" rounded-2xl shadow-2xl text-center  ring-1 ring-green-50">
          <img src="{% static 'images/p (3).jpg' %}" class="    rounded-xl shadow-2xl w-full h-96 object-cover " />
          <h3>Welcome to the Number One Developer's world.</h3>
        </div>
        
        <div class=" leading-6 bg-be card font-robo rounded-2xl shadow-lg text-center ring-1 ring-green-50">
          <h3 class="text-2xl font-bold mt-4 ">Welcome to the Number One Developer's world.</h3>
          <p class="p-5 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi expedita iste a, enim, tenetur molestias nihil quasi fugiat architecto facere nisi doloremque, perspiciatis dicta placeat unde assumenda itaque! Quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi expedita iste a, enim, tenetur molestias nihil quasi fugiat architecto facere nisi doloremque, perspiciatis dicta placeat unde assumenda itaque! Quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi expedita iste a, enim, tenetur molestias nihil quasi fugiat architecto facere nisi doloremque, perspiciatis dicta placeat unde assumenda itaque! Quas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi expedita iste a, enim, tenetur molestias nihil quasi fugiat architecto facere nisi doloremque, perspiciatis dicta placeat unde assumenda itaque! Quas.</p>
        </div>
        
      </div>
    </section>

    <section class="container mx-auto scroll-smooth">
      <div class="text-center  my-20 bg">
        <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-10 card w-full bg-best  rounded-2xl shadow-lg p-5 text-center ring-1 ring-green-50"> 
          
          <img src="{% static 'images/p (20).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110  rounded-xl shadow-2xl w-full h-100 object-cover " />
          <img src="{% static 'images/p (1).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 -rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover" />
          <img src="{% static 'images/p (2).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover" />
          <img src="{% static 'images/p (3).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 -rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover" />
          <img src="{% static 'images/p (11).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover " />
          <img src="{% static 'images/p (25).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 -rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover" />
          <img src="{% static 'images/p (16).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110 rotate-5  rounded-xl shadow-2xl w-full h-100 object-cover  " />
          <img src="{% static 'images/p (7).jpg' %}" class=" duration-700  hover:shadow-2xl  hover:scale-110  -rotate-5 rounded-xl shadow-2xl w-full h-100 object-cover " />
          <img src="{% static 'images/p (8).jpg' %}" class=" duration-700  hover:shadow-2xl ring-1 ring-amber-50 hover:scale-110 rotate-5  rounded-xl shadow-2xl w-full h-100 object-fill object-center " />
          <img src="{% static 'images/p (28).jpg' %}" class=" duration-700  hover:shadow-2xl ring-1 ring-amber-50 hover:scale-110 -rotate-5 rounded-xl shadow-2xl w-full h-100 object-fill object-center" />
          <img src="{% static 'images/p (24).jpg' %}" class=" duration-700  hover:shadow-2xl ring-1 ring-amber-50 hover:scale-110 rotate-5  rounded-xl shadow-2xl w-full h-100 object-fill object-center " />
          <img src="{% static 'images/p (26).jpg' %}" class=" duration-700  hover:shadow-2xl ring-1 ring-amber-50 hover:scale-110 -rotate-5  rounded-xl shadow-2xl w-full h-100 object-fill object-center " />
          
        </div>
        
        
      </div>
    </section> {% endcomment %}

    
    
    
  </div>

{% endblock %}.