{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Website{% endblock %}</title>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link href="{% static 'dist/style.css' %}" rel="stylesheet">
</head>
<body class=" bg-emerald-100 text-gray-800 font-sans">

{% comment %} {% include "nav.html" %} {% endcomment %}
  <!-- Main Content -->
  <main class="container mx-auto px-4 py-10">
    {% block content %}
    {% endblock %}
  </main>

    <!-- Footer -->
    <footer  class="bg-emerald-200 rounded-2xl shadow-lg  ring-1 ring-green-50 fixed bottom-0 mx-auto w-full">
      <div class="container mx-auto px-4 py-6 text-center text-2xl text-violet-500 ">
        &copy; 2025 DevSearch. All rights reserved.
      </div>
  </footer>

</body>
</html>